[flake8]
max-line-length = 88
# E203 - Whitespace before ':' conflicts with black, so we disable it here.
extend-ignore = E203

exclude =
    __pycache__,
    .cache,
    .mypy_cache,
    .pytest_cache,
    package_templates,
    */.venv/*
    